.tab_panel2 {
    display: none;
}

.tab_panel3 {
    display: none;
}

.tabs_box {
    color: var(--secondary-emphasis);
    border-bottom: 1px solid var(--secondary-emphasis);
    cursor: pointer;
}

.active1 {
    color: #fff;
    background: #000;
    border-bottom: 1px solid #F46A0F;
}

.hiddenRock {
    display:none;
}

.stake_card {
    background: #0D0D0E;
    max-width: 190px;
    height: 243px;
}

.stake_btn {
    background: var(--warning);
    color: white;
    border: 1px solid transparent;
    width: 100%;
    max-width: 150px;
    transition: 0.3s all ease-in-out;
}

.stake_btn:hover {
    background: transparent;
    border: 1px solid white;
}

.stake_btn:disabled,
.stake_btn[disabled] {
  /*border: 1px solid #999999;*/
  background-color: #666666;
  color: #333333;
  border: 1px solid transparent;
  width: 100%;
  max-width: 150px;
  font-style: italic;
  transition: 0.3s all ease-in-out;
}

.stakeall {
    min-width: 50;
}
.unstakeall {
    min-width: 50;
}

.unstake_btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    max-width: 150px;
    transition: 0.3s all ease-in-out;
}

.unstake_btn:hover {
    color: white;
    border: 1px solid transparent;
    background: var(--warning);
}

.unstake_btn:disabled,
.unstake_btn[disabled] {
  /*border: 1px solid #999999;*/
  background-color: transparent;
  color: #666666;
  font-style: italic;
  border: 1px solid #666666;
  width: 100%;
  max-width: 150px;
  transition: 0.3s all ease-in-out;
}

.update_btn {
    color: var(--warning);
    background: transparent;
    border: 1px solid var(--warning);
    transition: 0.3s all ease-in-out;
}

.update_btn:hover {
    color: white;
    border: 1px solid white;
}

.wallet-address {
  text-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

@media (min-width:1440px) {
    .tab_container {
        max-width: 1430px;
    }
}

@media (max-width:1199.98px) {
    .stake_card {
        max-width: 186px;
        height: 243px;
    }
}

@media (max-width:427.98px) {
    .stake_card {
        max-width: 132px;
        height: 190px;
        padding: 12px !important;
    }

    .fs_custom_md {
        font-size: 10px !important;
    }

}